/*GENERAL*/

body {
    font-family: 'Open Sans', sans-serif;
}
a:hover,
a:focus {
    text-decoration: none;
}

.form-control {
    border-radius: 0;
    height: 44px;
    font-size: 16px;
}
.form-control:focus {
    border-color: #f2c902;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242,201,2,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242,201,2,.6);
}

.input-group-addon {
    background-color: #f2c902;
    color: #1d1e20;
    border-color: #f2c902;
}

.invalid-feedback {
    color: #a94442;
    margin-top: 10px;
    display: block;
}

section {
    height: calc(100vh - 100px);
    display: grid;
    align-items: center;
    justify-items: center;
}

.sectionContainer {
    width: 50%;
}

#yellow {
    background-color: #f2c902;
}
#yellow p, #yellow h2, #yellow h3, #yellow h4, #yellow h5, #yellow h6, #yellow label {
    color: #1d1e20;
}
#dark {
    background-color: #1d1e20;
}
#dark p,
#dark h2, #dark h3, #dark h4, #dark h5, #dark h6, #dark label {
    color: #f2c902;
}

/*GENERAL END*/

/*NAVIGATION*/

#nav {
    height: 100px;
    background-color: #1d1e20;
}

nav {
    height: 100px;
    display: grid;
    grid-template-columns: 250px 1fr 150px;
}

#links {
    align-self: center;
    justify-self: right;
    padding: 0;
    margin: 0 50px 0 0;
}

#links li  {
    display: inline-block;
}

#links li a {
    color: white;
    transition: all .5s;
    padding: 10px 20px;
}

#links li a:hover,
#links li a.active {
    color: #f2c902;
}

#brand {
    align-self: center;
    display: grid;
    grid-template-columns: 40px auto;
    grid-column-gap: 15px;
    align-items: center;
}

#logo {
    height: 30px;
}

#logo img {
    height: 100%;
}

#brand a {
    color: white;
    font-weight: 900;
    font-size: 30px;
}

#auth {
    align-self: center;
}

.modal-dialog {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 0;
}

.modal-content {
    width: 400px;
}


/*NAVIGATION END*/

/*HOMEPAGE*/

.banner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.bannerText {
    width: 550px;
    text-align: center;
    justify-self: center;
    align-self: center;
    grid-row: 1/1;
    grid-column: 1/1;
}

.bannerText h1 {
    font-size: 48px;
}

#particles {
    grid-row: 1/1;
    grid-column: 1/1;
    background-color: #f2c902;
    height: calc( 100vh - 200px);
}

#coinValues {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
}

.coinLogo img {
    height: 30px;
}

.small-text {
    grid-column: 1/5;
    font-size: 10px;
    color: #636b6f;
    margin-top: 10px;
}

/*HOMEPAGE END*/

/*EXCHANGE*/

section button {
    display: block;
    font-size: 50px;
    padding: 20px;
    background-color: #1d1e20;
    transition: all .5s;
}

section:hover button.showForm {
    font-size: 60px;
}
#buy {
    background-color: #f2c902;
}

#buy button {
    border: 4px solid #1d1e20;
    color: #1d1e20;
}

#sell {
    background-color: #1d1e20;
}

#sell button {
    border: 4px solid #f2c902;
    color: #f2c902;
}


#buy .btn-order {
    border: 4px solid #1d1e20;
    color: #1d1e20;
}

#sell .btn-order {
    border: 4px solid #f2c902;
    color: #f2c902;
}

#sell label {
    color: #f2c902 !important;
}

.btn {
    background: transparent;
    transition: all .5s;
}

.dropdown-menu {
    background-color: #1d1e20;
    border: 4px solid #f2c902;
}

.dropdown-menu li a {
    color: white;
    transition: all .5s;
}

.dropdown-menu li a:hover {
    color: #f2c902;
    background: transparent;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #f2c902;
    transform: scale(1.2);
}
.btn-yellow {
    color: #f2c902;
    border: 4px solid #f2c902;
}

.btn-dark {
    color: #1d1e20;
    border: 4px solid #1d1e20;
}

.btn-dark:hover {
    color: #1d1e20;
}

#buyPostSubmitView,
#sellPostSubmitView
{
    display: none;
}

/*EXCHANGE END*/

/*CONTACT*/


/*CONTACT END*/

@media only screen and (max-width: 1050px) {

}


@media only screen and (max-width: 850px) {
    section {
        min-height: calc(50vh - 50px);
    }
    .sectionContainer {
        width: 100%;
    }
    #sellBackground {
        display: none !important;
    }
    #buyBackground {
        display: none !important;
    }
    #links, #auth {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    section {
        min-height: calc(50vh - 50px);
    }

    #sellBackground {
        display: none !important;
    }
    #buyBackground {
        display: none !important;
    }
}