/*GENERAL*/

body {
  font-family: 'Open Sans', sans-serif;
}
.small-nav-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1d1e20;
  z-index: 1;
}
.small-nav {
  display: grid;
  height: 100%;
  grid-template-rows: 100px auto auto;
}
#small-auth {
  justify-self: center;
}
#small-burger {
  margin-top: 30px;
  justify-self: center;
}

#small-links {
  justify-self: center;
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
#small-links li a {
  padding: 15px 20px;
  font-size: 16px;
  color: #f2c902;
  display: inline-block;
}

.margin-top-small {
  margin-top: 15px;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  border-radius: 0;
  height: 44px;
  font-size: 16px;
}

.form-control:focus {
  border-color: #f2c902;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 201, 2, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 201, 2, 0.6);
}

.input-group-addon {
  background-color: #f2c902;
  color: #1d1e20;
  border-color: #f2c902;
}

.invalid-feedback {
  color: #a94442;
  margin-top: 10px;
  display: block;
}

section {
  height: calc(100vh - 100px);
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.sectionContainer {
  width: 50%;
}

#yellow {
  background-color: #f2c902;
}

#yellow p,
#yellow h2,
#yellow h3,
#yellow h4,
#yellow h5,
#yellow h6,
#yellow label {
  color: #1d1e20;
}

#dark {
  background-color: #1d1e20;
}

#dark p,
#dark h2,
#dark h3,
#dark h4,
#dark h5,
#dark h6,
#dark label {
  color: #f2c902;
}

#notificationSuccess .modal-header {
  background-color: #1d1e20;
  color: #f2c902;
  border-bottom: none;
}

#notificationSuccess .modal-body {
  background-color: #f2c902;
}

#notificationSuccess .modal-body img {
  height: 150px;
  margin: 30px auto;
}

#notificationSuccess .modal-footer {
  background-color: #1d1e20;
  border-top: none;
}

/*GENERAL END*/

/*NAVIGATION*/

#nav {
  height: 100px;
  background-color: #1d1e20;
}

nav {
  height: 100px;
  display: grid;
  grid-template-columns: 250px 1fr 150px;
}

#links {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: right;
  padding: 0;
  margin: 0 50px 0 0;
}

#links li {
  display: inline-block;
}

#links li a {
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding: 10px 20px;
}

#links li a:hover,
#links li a.active {
  color: #f2c902;
}

#brand {
  align-self: center;
  display: grid;
  grid-template-columns: 40px auto;
  grid-column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  height: 30px;
}

#logo img {
  height: 100%;
}

#brand a {
  color: white;
  font-weight: 900;
  font-size: 30px;
}

#auth {
  -ms-flex-item-align: center;
      align-self: center;
}

.modal-dialog {
  width: 100vw;
  height: 100vh;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.modal-content {
  width: 400px;
}

/*NAVIGATION END*/

/*HOMEPAGE*/

.banner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.bannerText {
  width: 550px;
  text-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  grid-row: 1/1;
  grid-column: 1/1;
}

.bannerText h1 {
  font-size: 48px;
}

#particles {
  grid-row: 1/1;
  grid-column: 1/1;
  background-color: #f2c902;
  height: calc(100vh - 200px);
}

#coinValues {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.coinLogo img {
  height: 30px;
}

.small-text {
  grid-column: 1/5;
  font-size: 10px;
  color: #636b6f;
  margin-top: 10px;
}

/*HOMEPAGE END*/

/*EXCHANGE*/

section button {
  display: block;
  font-size: 40px;
  padding: 20px;
  background-color: #1d1e20;
  -webkit-transition: all .5s;
  transition: all .5s;
}

section:hover button.showForm {
  font-size: 60px;
}

#buy {
  background-color: #f2c902;
}

#buy button {
  border: 4px solid #1d1e20;
  color: #1d1e20;
}

#sell {
  background-color: #1d1e20;
}

#sell button {
  border: 4px solid #f2c902;
  color: #f2c902;
}

#buy .btn-order {
  border: 4px solid #1d1e20;
  color: #1d1e20;
}

#sell .btn-order {
  border: 4px solid #f2c902;
  color: #f2c902;
}

#sell label {
  color: #f2c902 !important;
}

.btn {
  background: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-danger {
  background-color: #d9534f;
}

.btn-danger:hover {
  color: white !important;
}

.dropdown-menu {
  background-color: #1d1e20;
  border: 4px solid #f2c902;
}

.dropdown-menu li a {
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.dropdown-menu li a:hover {
  color: #f2c902;
  background: transparent;
}

.btn.focus,
.btn:focus,
.btn:hover {
  color: #f2c902;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn-yellow {
  color: #f2c902;
  border: 4px solid #f2c902;
}

.btn-dark {
  color: #1d1e20;
  border: 4px solid #1d1e20;
}

.btn-dark:hover {
  color: #1d1e20;
}

#buyPostSubmitView,
#sellPostSubmitView {
  display: none;
}

/*EXCHANGE END*/

/*CONTACT*/

/*CONTACT END*/

@media only screen and (max-width: 1450px) and (min-width: 1050px) {
  .sectionContainer {
    width: 70%;
  }
  label {
    font-size: 12px;
  }

  .form-control {
    height: 34px;
    font-size: 14px;
  }

  textarea[name='message'] {
    max-height: 180px;
  }

  section button {
    font-size: 24px;
    padding: 10px;
  }

  section:hover button.showForm {
    font-size: 30px;
  }

  #buyBackground,
  #sellBackground {
    display: none !important;
  }
}

@media only screen and (max-width: 850px) {
  section {
    min-height: 50vh;
    max-height: 100vh;
  }

  .sectionContainer {
    width: 100%;
  }

  #sellBackground,
  #buyBackground {
    display: none !important;
  }
  nav {
    grid-template-columns: 250px 1fr;
  }
  #burger {
    align-self: center;
    justify-self: right;
  }
  .glyphicon-menu-hamburger {
    font-size: 40px;
    color: #f2c902;
    border: 4px solid #f2c902;
    padding: 6px;
    border-radius: 4px;
  }
  #links,
  #auth {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  section {
    min-height: calc(50vh - 50px);
  }

  .bannerText {
    width: auto;
  }

  #sellBackground {
    display: none !important;
  }

  #buyBackground {
    display: none !important;
  }
}

